@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');



body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    background-color: #FDFCFA;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 1em;
}

.wrapp{
    max-width: 100%;
    margin: 0 auto;
}

nav{
    position: relative;
    top: 0;

}

nav{
    justify-content: space-between;
    list-style-type: none;
}

.logo{
    padding: 0;
    margin: 0;
}

.nav_list{
    margin-top: 1em;
    text-transform: uppercase;
    list-style-type: none;
}

nav ul{
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
}


nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: underline;
}

.welcome-container{
    
    position: relative;
    display: inline-block;
}

.welcome-container img{
    
    opacity: 0.3;
    height: auto;
    width: 100%;
}

.welcome-container p{
    position: absolute;
    bottom: 0;;
    
    padding: 10px 20px;
}

.exhib{
    margin-top: 1em;
    
}

h2{
    text-decoration: underline;
}

.exhib-col{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    
}

.exhib-col img{
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.col1, .col2, .col3{
    background-color: #EEF6FA;
    border-radius: 3px;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 32%;
    
}

h3{
    padding-left: 1em;
    font-size: 1.5rem;
    
}

.exhib-col p{
    
    margin: 0 10px 0 10px;
} 

.options{
    
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 20px;
    margin: 0 auto 0 auto;
}

.options a{
    text-decoration: underline;
    color: black;
    font-weight: 200;
    
    
}

.options button{
    width: 110px;
    height: 37px;
    cursor: pointer;
    right: 10px;
    
}

.options button{
    border-radius: 7px;
    border: 1px solid #62C9FD;
    background: #F3EBDA69;
    margin-bottom: 10px;
}

.butn-centr{
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.go{
    
    width: 305px;
    height: 41px;
    flex-shrink: 0;
    cursor: pointer;
}

.go{
    border-radius: 7px;
    border: 1px solid #62C9FD;
    background: rgba(243, 235, 218, 0.26);
}

.go{
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

hr{
    border-top: 3px dashed #62C9FD;
}

hr{
    margin-top: 2em;
}

hr{
    width: 100%;
}

.container{
    width: fit-content;
}

.container {
    display: flex;
    background-color: rgba(243, 235, 218, 0.41);
    border-radius: 3px;
    padding: 10px;
    gap: 4px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.column {
    flex: 1;
    padding: 10px;
}

.text-column {
    color: #000;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.text-column p{
    width: 100%;
    
}

.image-column img {
    width: 100%;
    
}


.explore-col1, .explore-col2, .explore-col3{
    position: relative;
    
}

.explore-col1{
    margin-bottom: 15rem;
}


.explore-col1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/kid2.jpg');
    background-size: cover;
    opacity: 0.3; 
    z-index: -1;
    width: 100%;
    height: 450px;
}

.explore-text {
    position: relative;
    color: black; 
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    margin: 30px 10px auto 10px;

}

.explore-col2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/events1.jpg');
    background-size: cover;
    opacity: 0.3; 
    z-index: -1;
    width: 100%;
    height: 450px;
}

.explore-col2{
    margin-bottom: 20rem;
}

.explore-col3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/events2.jpg');
    background-size: cover;
    opacity: 0.3; 
    z-index: -1;
    width: 100%;
    height: 450px;
}

.explore-col3{
    margin-bottom: 22rem;
    margin-top: 20.5rem;
}


footer{
    display: flex;
    gap: 5em;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: flex-start;
}


h4{
    color: #000;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;

}

a{
    text-decoration: none;
    color: #000;
}


ul{
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.about, .contribute, .social{
    align-items: center;
}

.terms{
    margin-top: 2em;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width: 1000px){

    body{
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .exhib-col {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
}

.col1, .col2, .col3{
    background-color: #EEF6FA;
    border-radius: 3px;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
}

footer{
    gap: 2em;
}
}


@media screen and (max-width: 800px){

    body{
        margin-left: 3rem;
        margin-right: 1rem;
    }

    nav ul{
        gap: 1em;
    }

    .welcome-container p{
        
        font-size: 1rem;
        
        
    }

    .col1, .col2, .col3{
        background-color: #EEF6FA;
        border-radius: 3px;
        display: flex;
        gap: 1em;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .explore-col1 {
        margin-bottom: 5rem;
    }

    .explore-col2 {
        margin-bottom: 15rem;
    }

    .explore-col3 {
        margin-bottom: 20rem;
        margin-top: 10rem;
    }

    
}

@media screen and (max-width: 600px){

    body{
        margin-left: 3rem;
        margin-right: 1rem;
    }
    

    nav ul{
        gap: 1em;
    }

    .welcome-container p{
        font-size: 1rem;
        
    }

    .col1, .col2, .col3{
        background-color: #EEF6FA;
        border-radius: 3px;
        display: flex;
        gap: 1em;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    

    .container{
        display: none;
    }

    .explore-text {
        font-size: 1rem;
    
    }

    .explore-col1 {
        margin-bottom: 15rem;
    }

    .explore-col2 {
        margin-bottom: 20rem;
    }

    .explore-col3 {
        margin-bottom: 23rem;
        margin-top: 10rem;
    }

    footer{
        gap: 2.1em;
        font-size: 0.7rem
    }
}

@media screen and (max-width: 480px){
    body{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    nav ul{
        gap: 0.5em;
        
    }

    .welcome-container p{
        padding: 0;
        font-size: 1rem;
        
    }

    

    .explore-text {
        font-size: 1rem;
    
    }

    .explore-col1{
        margin-bottom: 12rem;
    }

    .explore-col2{
        margin-bottom: 3rem;
    }

    .explore-col3 {
        margin-bottom: 23rem;
        margin-top: 20rem;
    }

    footer{
        gap: 2em;
        font-size: 0.6rem
    }


}